@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap");

body {
  font-family: "PT Serif", serif;
}

caption {
  color: black;
}

small {
  padding: 10px;
  margin: 0 auto;
}

small a {
  color: white;
}
.container-flex {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0px auto;
}

.app {
  text-align: left;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  max-width: 100%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 20px;
  line-height: 2;
}
